{extend name="pub/base" /}
{block name="seo"}
<title>韩漫-韩国漫画-少女漫画-恐怖漫画</title>
<meta name="description" content="韩漫为大家带来最新漫画大全，这里有超多漫画资源，无论是韩国漫画，少女漫画，还是恐怖漫画，总有一个让你酣畅淋漓">
{/block}
{block name="content"}
{include file="pub/tab" /}

<div class="m_banner swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-375px, 0px, 0px); transition-duration: 0ms;">
        {volist name="banners" id="vo"}
        <div class="swiper-slide swiper-slide-prev" style="width: 375px;">
            <a class="m_banner_l" href="{:url('books/index',['id'=>$vo.book_id])}">
                <img src="{$img_site}/static/upload/banner/{$vo.pic_name}">
                <p>{$vo.title}</p>
            </a>
        </div>
        {/volist}
    </div>

    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
    {for start="0" end="{banners_count}"}
        <span class="swiper-pagination-bullet"></span>
        {/for}
    </div>
    
</div>

<div class="m_recently">
    <div class="m_recently_tab">
        <h2>最近更新</h2>
        <a href="{:url('books/booklist',[])}" class="m_new_more">更多</a>
    </div>
    <div class="m_recently_swiper swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            {volist name="newest" id="vo"}
            <div class="swiper-slide" style="width: 87.3684px; margin-right: 10px;">
                <a href="{:url('books/index',['id'=>$vo.id])}" class="m_recently_a">
                    <img src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <h3>{$vo.bookname}</h3>
                    <p>更新至第{$vo.chapter_count}话</p>
                </a>
            </div>
            {/volist}
        </div>
    </div>
</div>

<div class="m_recently">
    <div class="m_recently_tab">
        <h2>最多点击</h2>
        <a href="{:url('books/booklist',[])}" class="m_new_more">更多</a>
    </div>
    <div class="m_recently_swiper swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            {volist name="hot" id="vo"}
            <div class="swiper-slide" style="width: 87.3684px; margin-right: 10px;">
                <a href="{:url('books/index',['id'=>$vo.id])}" class="m_recently_a">
                    <img src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <h3>{$vo.bookname}</h3>
                    <p>更新至第{$vo.chapter_count}话</p>
                </a>
            </div>
            {/volist}
        </div>
    </div>
</div>

<div class="m_recently">
    <div class="m_recently_tab">
        <h2>完结作品</h2>
        <a href="{:url('books/booklist',[])}" class="m_new_more">更多</a>
    </div>
    <div class="m_recently_swiper swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            {volist name="ends" id="vo"}
            <div class="swiper-slide" style="width: 87.3684px; margin-right: 10px;">
                <a href="{:url('books/index',['id'=>$vo.id])}" class="m_recently_a">
                    <img src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <h3>{$vo.bookname}</h3>
                    <p>更新至第{$vo.chapter_count}话</p>
                </a>
            </div>
            {/volist}

        </div>
    </div>
</div>

<div class="m_recently m_whole">
    <div class="m_recently_tab">
        <h2>全站排行</h2>
        <div class="m_whole_table">
            <a href="javascript:;">最新</a>
            <a href="javascript:;">最热</a>
            <a href="javascript:;">完结</a>

        </div>
    </div>
    <div class="m_whole_cen">
        <ul class="m_ph_ul" style="display:block">
            {volist name="newest" id="vo"}
            <li>
                <a href="{:url('books/index',['id'=>$vo.id])}">
                    <img class="fl" src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <div class="m_ph_d">
                        <h2 class="m_ph_h2">{$vo.bookname}</h2>
                        <p class="m_ph_p1">{$vo.summary|subtext="15"}</p>
                        <div class="m_ph_hot"><i></i></div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
        <ul class="m_ph_ul">
            {volist name="hot" id="vo"}
            <li>
                <a href="{:url('books/index',['id'=>$vo.id])}">
                    <img class="fl" src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <div class="m_ph_d">
                        <h2 class="m_ph_h2">{$vo.bookname}</h2>
                        <p class="m_ph_p1">{$vo.summary|subtext="15"}</p>
                        <div class="m_ph_hot"><i></i></div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
        <ul class="m_ph_ul">
            {volist name="ends" id="vo"}
            <li>
                <a href="{:url('books/index',['id'=>$vo.id])}">
                    <img class="fl" src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg">
                    <div class="m_ph_d">
                        <h2 class="m_ph_h2">{$vo.bookname}</h2>
                        <p class="m_ph_p1">{$vo.summary}</p>
                        <div class="m_ph_hot"><i></i></div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
{include file="pub/foot" /}
{/block}