
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关注公众号获取vip</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="applicable-device" content="mobile" />
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            height: 100%;
            line-height: 1.42857;
            margin-bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            max-width: 600px;
            position: relative;
        }
        .content {
            padding-top: 37px;
        }
        h3 {
            color: #F44336;
        }
        h3,h4,p{ text-align:center;}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

<body>

<div class="content">
    <div>
        <h3>关注公众号：小漫圈，免费获取vip码</h3>
        <p style="text-align:center;font-size: 10px;color: #9E9E9E;text-align: center;line-height: 6px;">
            小贴士：关注后回复vip即可获得vip码
        </p>

        <p>
            <img style="width: 52%;" src="https://wx3.sinaimg.cn/mw690/ab72f980ly1fwygcai3g4j2076076aai.jpg" alt="关注我们">
        </p>
        <div align="center">【关注方式】</div>
        <div style="padding: 1px;" id="22"><h4>1.扫描上图二维码关注</h4><h4>2.搜索公众号“小漫圈”关注</h4></div>
        <div align="center">
            <form action="{:url('index/vip')}" method="post">
                <input type="text" name="vip_code" placeholder="粘贴vip码并提交">
                <input type="submit" value="提交">
            </form>
        </div>
        <div style="padding: 1rem;" id="22"><h3>注意：vip码只在当天有效，每天凌晨0点会更新，0点过后请到公众号重新获取vip码</h3></div>
    </div>
</div>
{include file="pub/others" /}

</body>
</html>