{extend name="pub/base" /}
{block name="title"}
<title>章节新增</title>
{/block}

{block name="body"}
<article class="Hui-admin-page-container">
    <form action="{:url('update')}" method="post" class="form form-horizontal" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$chapter.id}">
        <input type="hidden" value="{$returnUrl}" name="returnUrl">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>章节名：</label>
            <div class="formControls col-xs-4 col-sm-3">
                <input type="text" class="input-text" value="{$chapter.chapter_name}" name="chapter_name">
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
{include file="pub/validate_scripts" /}
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                chapter_name:{
                    required:true,
                    minlength:1,
                    maxlength:50
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</html>