<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {block name="title"}{/block}
    <LINK rel="Bookmark" href="favicon.ico" >
    <LINK rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconfont.css" />

    <link rel="stylesheet" type="text/css" href="/static/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
{include file="pub/head" /}
{include file="pub/menu" /}
{block name="body"}{/block}
{include file="pub/foot" /}
</body>
</html>