<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-book">
			<dt><i class="Hui-iconfont">&#xe616;</i> 漫画管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('books/index')}">漫画列表</a></li>
					<li><a href="{:url('books/create')}">漫画新增</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-author">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 作者管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('authors/index')}">作者列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-lunbo">
			<dt><i class="Hui-iconfont">&#xe613;</i> 轮播管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('banner/index')}">轮播列表</a></li>
					<li><a href="{:url('banner/create')}">轮播新增</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-site">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 其他功能<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('index/index')}">系统设置</a></li>
					<li><a href="{:url('index/xiongzhang')}">熊掌推送</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe61a;</i> 网站地图<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('sitemap/index')}">生成地图</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>