{extend name="pub/base" /}
{block name="seo"}
<title>韩漫-列表</title>
{/block}
{block name="content"}
{include file="pub/tab" /}
<!--分类列表-->
<div class="sr_top sr_top2">
    <a href="/" class="sr_back" id="goBack">
        <i></i>
        <span>{$tag}</span>
    </a>
</div>


<ul class="sr_ul">
    {volist name="books" id="vo"}
    <li>
        <a href="{:url('books/index',['id'=>$vo.id])}">
            <img src="{$img_site}/static/upload/book/{$vo.id}/cover.jpg" class="fl">
            <div class="sr_tit">
                <h2>{$vo.bookname}</h2>
                <h3>作者：{$vo.author.author_name}</h3>
                <p>{$vo.summary}</p>
            </div>
        </a>
    </li>
    {/volist}
</ul>

<div class="pager">
    {$books|raw}
</div>

{include file="pub/foot" /}
{/block}