{extend name="pub/base" /}
{block name="title"}
<title>参数输入</title>
{/block}

{block name="body"}
<article class="cl pd-20">
    <form action="{:url('save')}" method="post" class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>书籍id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="book_id">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">起始章节id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="start">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">结束章节id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="end">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">后台书籍id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="admin_book_id">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{/block}
</html>